#calculatorContainer {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#operatorButtons button {
    margin: 5px;
    padding: 10px 15px;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    
}

#result {
    font-size: 18px;
    font-weight: bold;
}

#num1,
#num2 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

#operatorButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}