.practiceContainer {   width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    } 
    
    button { 
        width: 100px;
         height: 80px; 
         margin: 5px; 
         font-size: 18px; 
        align-items: center; justify-content: center; 
        cursor: pointer;
        background-color: #e0e0e0; 
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease; 
}
 button:hover {
     background-color: #d0d0d0;

        }